spring:
  application:
    name: erp-accounting
  
  datasource:
    url: jdbc:postgresql://localhost:5433/erp
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 20000
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        default_schema: accounting
        format_sql: true
        use_sql_comments: true
        jdbc:
          batch_size: 20
          fetch_size: 50
        order_inserts: true
        order_updates: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  redis:
    host: localhost
    port: 6380
    timeout: 60000
    database: 0

server:
  port: 8085
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.erp: DEBUG
    org.springframework.security: DEBUG
